@font-face {
    font-family: 'Orbitron'; /* Kasih nama bebas */
    src: url('fonts/Orbitron,Poppins/Orbitron/Orbitron-VariableFont_wght.ttf'); /* Arahkan ke file font di folder static */
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* BIAR ELEMEN NYUSUN KE BAWAH */
    background-color: #000000;
    background-image: 
        radial-gradient(circle at 0% 0%, rgba(146, 2, 2, 0.6) 0%, transparent 50%),
        radial-gradient(circle at 100% 100%, rgba(22, 0, 147, 0.692) 0%, transparent 50%);
    background-attachment: fixed;
}

.hotbar {
    width: 100%;
    height: 100px; /* Saya besarkan sedikit agar lebih kelihatan */
    background-color: rgba(0, 0, 0, 0.69); /* Kasih sedikit transparansi biar keren */
    border-bottom: 3px solid rgb(240, 240, 240); /* Garis bawah biar makin kelihatan */
    display: flex;
    align-items: center; /* Tulisan di tengah secara vertikal */
    padding: 0 20px;
}

.greet {
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    top: 35px;
    left: 30px;
    color: rgb(223, 224, 224);
    margin: 0;
}

.logout{
    position: absolute;
    right: 10px;
    top: 40px;
    cursor: pointer;
    width: 35px;
    height: auto;
    border-radius: 10px;
    transition: 0.3s;
}
.logout:hover{
    filter: drop-shadow(0 0 8px rgb(255, 255, 255)); /* Efek nyala merah pas disentuh mouse */
    transform: scale(1.1); /* Efek membesar dikit */
}

.menu{
    position: absolute;
    top: 32px;
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    position: absolute;
    color: white;
    transition: 0.3s;
}
.menu:hover{
    filter: drop-shadow(0 0 8px rgb(255, 255, 255)); /* Efek nyala merah pas disentuh mouse */
    transform: scale(1.1); /* Efek membesar dikit */
}